<mat-drawer-container class="nav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <h3>Pages</h3>
    <mat-divider></mat-divider>
    <button><h2><a routerLink="/itinerary">Itinerary</a></h2></button>
    <mat-divider></mat-divider>
    <button><h2><a routerLink="/weather">Weather</a></h2></button>
    <mat-divider></mat-divider>
    <button><h2><a routerLink="/trips">Trips</a></h2></button>
    <mat-divider></mat-divider>
    <button><h2><a routerLink="/hotels">Hotels</a></h2></button>
    <mat-divider></mat-divider>
  </mat-drawer>
  <mat-toolbar color="black" style="margin-top: auto; margin-bottom: auto">
    <button mat-icon-button type="button" (click)="drawer.toggle()" class="icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="margin-left: 1rem">CRUD App {{this.name}}</span>
  </mat-toolbar>
  
  <!-- <app-weather></app-weather> -->

</mat-drawer-container>

<router-outlet></router-outlet>