<mat-drawer-container class="nav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <h3>Pages</h3>
    <mat-divider></mat-divider>
    <button><h2><a routerLink="" [routerLinkActiveOptions]="{ exact: true}" routerLinkActive="active">Weather</a></h2></button>
    <mat-divider></mat-divider>
    <button><h2><a routerLink="itinerary" routerLinkActive="active">Itinerary</a></h2></button>
    <mat-divider></mat-divider>
    <button><h2><a routerLink="trips" routerLinkActive="active">Trips</a></h2></button>
    <mat-divider></mat-divider>
    <button><h2><a routerLink="hotels" routerLinkActive="active">Hotels</a></h2></button>
    <mat-divider></mat-divider>
  </mat-drawer>
  <mat-toolbar color="black" style="margin-top: auto; margin-bottom: auto">
    <button mat-icon-button type="button" (click)="drawer.toggle()" class="icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="margin-left: 1rem">CRUD App {{this.name}}</span>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-drawer-container>
