@media screen and (max-width: 900px) {
  .body{
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: wrap;
  }
  
  .card {
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 8px 8px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-right: 10px;
  }
}


@media screen and (min-width: 800px) {
  .body{
    display: flex;
    padding: 30px;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .card {
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 8px 8px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-right: 10px;
  }
}


@media screen and (min-width: 800px) {
  .body{
    display: flex;
    padding: 30px;
    flex-direction: row;
    justify-content: left;
  }
  
  .card {
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 8px 8px 4px rgba(0, 0, 0, 0.2);
  }  
}

.header-image {
  background-size: cover;
}

.buttons{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.button-item:hover{
  background-color: #9858a5;
  color: white;
  width: 15%;
  border-radius: 20px;
}

.card-image{
  display: flex;
  justify-content: center;
  margin-top: .5rem;
  border-radius: 15px;
}