.body{
  display: flex;
  padding: 30px;
}

.card {
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 8px 8px 4px rgba(0, 0, 0, 0.2);
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.buttons{
  display: flex;
  justify-content: space-around;
}

.card-image{
  display: flex;
  justify-content: center;
  margin-top: .5rem;
  border-radius: 15px;
}