<div class="body">
  <mat-card class="card" *ngFor="let weather of weatherConditions">
    <mat-card-header>
      <div mat-card-avatar class="header-image" 
      style="background-image: url({{weather.image}});"
      ></div>
      <mat-card-title>{{weather.city}}</mat-card-title>
      <mat-card-subtitle>{{weather.country}}</mat-card-subtitle>
    </mat-card-header>
    <div class="card-image">
      <img mat-card-image src={{weather.image}} alt={{weather.id}}>
    </div>
    <mat-card-content>
      <div>
        <p>{{weather.description}}</p>
        <p>Temp: {{weather.temp}}</p>
      </div>
      <div>
        <p>Wind Speed: {{weather.wind}}</p>
        <p>Humidity: {{weather.humidity}}</p>
      </div>
    </mat-card-content>
    <mat-card-actions class="buttons">
      <button mat-button class="button-item" id={{weather.id}}>LIKE</button>
      <button mat-button class="button-item" id={{weather.id}}>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>